language: python
python:
  - 2.7
  - 3.6
env:
  - DJANGO="Django==1.11.14"
  - DJANGO="Django==2.0.7"
  - DJANGO="https://www.djangoproject.com/download/2.1a1/tarball/"
install:
  - pip install $DJANGO
  - pip install -r testproject/requirements_test.txt
  - pip install -r testproject/requirements_travis.txt
  - pip install -e .
script:
  - python testproject/manage.py test testapp
  - coverage run --source=django_pony_forms,testproject/testapp testproject/manage.py test testapp
  - coverage report
after_success:
  - coveralls
matrix:
  exclude:
  - python: 2.7
    env: DJANGO="Django==2.0.7"
  - python: 2.7
    env: DJANGO="https://www.djangoproject.com/download/2.1a1/tarball/"
