language: python
dist: bionic
matrix:
  include:
    - python: 3.7
      env: DJANGO="Django==2.0.13"
    - python: 3.7
      env: DJANGO="Django==2.1.15"
    - python: 3.7
      env: DJANGO="Django==2.2.11"
    - python: 3.7
      env: DJANGO="Django==3.0.4"
    - python: 3.8
      env: DJANGO="Django==3.0.4"
install:
  - pip install $DJANGO
  - pip install -r testproject/requirements_test.txt
  - pip install -r testproject/requirements_travis.txt
  - pip install -e .
script:
  - python -Wd testproject/manage.py test testapp
  - coverage run --source=django_pony_forms,testproject/testapp testproject/manage.py test testapp
  - coverage report
after_success:
  - coveralls
