language: python
python:
  - 2.7
  - 3.4
  - 3.5
env:
  - DJANGO=Django==1.7.10
  - DJANGO=Django==1.8.4
  - DJANGO=https://www.djangoproject.com/download/1.9a1/tarball/
install:
  - pip install $DJANGO
  - pip install -r testproject/requirements_test.txt
  - pip install -r testproject/requirements_travis.txt
  - pip install -e .
script:
  - python testproject/manage.py test testapp
  - coverage run --source=django_pony_forms,testproject/testapp testproject/manage.py test testapp
  - coverage report
after_success:
  - coveralls
matrix:
  exclude:
    - python: 3.5
      env: DJANGO=Django==1.7.10
