language: python
python:
  - 2.6
  - 2.7
  - 3.3
env:
  - DJANGO_VERSION=1.3.7
  - DJANGO_VERSION=1.4.5
  - DJANGO_VERSION=1.5.3
install:
  - pip install Django==$DJANGO_VERSION
  - pip install -r testproject/requirements_test.txt
  - python setup.py install
script:
  - cd testproject
  - python manage.py test testapp
  - coverage run --source=django_pony_forms,testapp manage.py test testapp
  - coverage report -m
after_success:
  - pip install -r requirements_coveralls.txt
  - coveralls
matrix:
  exclude:
    - python: 3.3
      env: DJANGO_VERSION=1.3.7
    - python: 3.3
      env: DJANGO_VERSION=1.4.5