language: python
python:
  - 2.7
  - 3.5
  - 3.6
env:
  - DJANGO="Django==1.8.17"
  - DJANGO="Django==1.9.12"
  - DJANGO="Django==1.10.5"
  - DJANGO="https://www.djangoproject.com/download/1.11a1/tarball/"
  - DJANGO="https://github.com/django/django/archive/master.zip"
install:
  - pip install $DJANGO
  - pip install -r testproject/requirements_test.txt
  - pip install -r testproject/requirements_travis.txt
  - pip install -e .
script:
  - python testproject/manage.py test testapp
  - coverage run --source=django_pony_forms,testproject/testapp testproject/manage.py test testapp
  - coverage report
after_success:
  - coveralls
matrix:
  exclude:
  - python: 2.7
env: DJANGO="https://github.com/django/django/archive/master.zip"
