language: python
sudo: false
matrix:
  include:
    - python: 3.7
      env: DJANGO="Django==2.0.13"
      dist: xenial
      sudo: true
    - python: 3.7
      env: DJANGO="Django==2.1.14"
      dist: xenial
      sudo: true
    - python: 3.7
      env: DJANGO="Django==2.2.7"
      dist: xenial
      sudo: true
    - python: 3.7
      env: DJANGO="https://github.com/django/django/archive/master.zip"
      dist: xenial
      sudo: true
install:
  - pip install $DJANGO
  - pip install -r testproject/requirements_test.txt
  - pip install -r testproject/requirements_travis.txt
  - pip install -e .
script:
  - python -Wd testproject/manage.py test testapp
  - coverage run --source=django_pony_forms,testproject/testapp testproject/manage.py test testapp
  - coverage report
after_success:
  - coveralls
