language: python
python:
  - 2.7
  - 3.5
  - 3.6
env:
  - DJANGO="Django==1.8.18"
  - DJANGO="Django==1.9.13"
  - DJANGO="Django==1.10.7"
  - DJANGO="Django==1.11.1"
install:
  - pip install $DJANGO
  - pip install -r testproject/requirements_test.txt
  - pip install -r testproject/requirements_travis.txt
  - pip install -e .
script:
  - python testproject/manage.py test testapp
  - coverage run --source=django_pony_forms,testproject/testapp testproject/manage.py test testapp
  - coverage report
after_success:
  - coveralls
