{% load static %}<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Simple form</title>
    <link href="{% static "foundation-sites/dist/css/foundation.css" %}" rel="stylesheet">
    <link href="{% static "foundation-sites/dist/css/foundation-float.css" %}" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="columns">
            <h2>Edit document</h2>
        </div>
    </div>

    <div class="row">
        <div class="columns">
            <form method="post">
                {% csrf_token %}
                {{ form }}

                <input class="button" type="submit" value="Save" />
                <a class="button secondary" href="#">Cancel</a>
            </form>
        </div>
    </div>

</body>
</html>
