coverage==3.6
cssselect==0.8  # needed by pyquery
django-jenkins==0.14.0
logilab-astng==0.24.2  # needed by pylint
logilab-common==0.59.0  # needed by pylint
lxml==3.1.0  # needed by pyquery
pylint==0.27.0  # needed by django-jenkins
pyquery==1.2.4
six==1.2.0
